<%- include('./partials/head.ejs') %>

<main>
  <hr color="black" />
  <section>
    <!-- Hier komen de members -->
    <% squad.members.forEach(member => { %>

    <article data-id="<%= member.id %>" class="id-card-trigger">
      <!-- Als de gebruiker geen avatar heeft dan komt de placeholder inplaats -->
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/placeholder.jpg" alt="Placeholder avatar" />
      <% } %>

      <!-- Member "naam" -->
      <p><%= member.name %> <%= member.surname %></p>
    </article>

    <dialog class="card" id="<%= member.id %>">
      
      <div class="id-card-trigger">
        <% if (member.avatar) { %>
        <img
          src="<%= member.avatar %>"
          width="70px"
          height="70px"
          alt="De avatar van <%= member.name %>"
        />
        <% }else{ %>
        <img src="/placeholder.jpg" alt="Placeholder avatar" />
        <% } %>

        <h2><%= member.name %> <%= member.surname %></h2>
        
        <div class="dialog-card">
          <h3>INFO:</h3>
          <div class="info-member">
            <p><strong>Role:</strong> <%= member.role %></p>
            <p><strong>ID:</strong> <%= member.id %></p>
            <p><strong>Slug:</strong> <%= member.slug %></p>
            <p><strong>Git:</strong>
              <% if(member.gitHubHandle) { %>
              <span><%= member.gitHubHandle %></span>
              <% } else { %>
              <span>Niet ingesteld!</span>
              <% } %>
              </p>
            <p>
            <strong>Web:</strong>
              <% if(member.website) { %> <%= member.website %> <% } else { %>
              <span>Niet ingesteld!</span>
              <% } %>
              </p>
            <p>
            <strong>Bio:</strong>
              <% if(member.bio.html) { %> <%- member.bio.html %> <% } else { %>
              <span>Niet ingesteld!</span>
              <% } %>
              </p>
          </div>
        </div>
      </div>
    </dialog>
    <% }) %>
  </section>
</main>

<%- include('./partials/foot.ejs') %>
